@charset "ISO-8859-1";
*{

font-family: Play;

}

p{

font-size: 20px;

color: #444;

}

 

/***** Global Slide *****/

.slide-right, .slide-left {

width: 100%;

}

 

/***** Slide Right *****/

.slide-right {

animation: 3s slide-right;

}

@keyframes slide-right {

from {

margin-left: -100%;

}

to {

margin-left: 0%;

}

}

 

/***** Slide Left *****/

.slide-left {

animation: 3s slide-left;

}

@keyframes slide-left {

from {

margin-left: 100%;

}

to {

margin-left: 0%;

}

}

 

/***** Misc Styles *****/

.container {

width: 500px;

margin: auto;

background: #fff;

padding: 20px;

overflow: hidden;

box-shadow: 0 0 25px #000;

margin-top: 30px;

border: 1px solid #444;

text-align: center;

}


body {

background:#150f21;

}

 

/***** FadeIn Underline *****/

.line {

border-bottom: 3px solid red;

width: 200px;

margin: auto;

}

.fade-in {

animation: fadeIn ease 3s;

}

@keyframes fadeIn{

0% {

opacity:0;

}

100% {

opacity:1;

}
 body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    background-color: #f4f4f4;

  }
}
  .job-card {

    background-color: #fff;

    padding: 20px;

    border-radius: 5px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    margin: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;

  }

  .job-details {

    flex-grow: 1;

  }

  .job-role {

    font-size: 24px;

    font-weight: bold;

    margin-bottom: 10px;

  }

  .skills {

    font-size: 16px;

    color: #555;

    margin-bottom: 10px;

  }

  .posted-by {

    font-size: 14px;

    color: #888;

    margin-bottom: 10px;

  }

  .btn {

    padding: 8px 16px;

    background-color: #007bff;

    color: #fff;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;

  }

  .btn:hover {

    background-color: #0056b3;

  }
  
  .btn-delete {

    padding: 8px 16px;

    background-color: #ff0000; /* Red background */

    color: #fff;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;

  }

 

  .btn-delete:hover {

    background-color: #cc0000;

  }
  
  .bth-feedback{
	   padding: 8px 16px;

    background-color:  #007bff;

    color: #fff;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;
  }
  .dis{
	  cursor: not-allowed;
  }